:root {
  font-size: 16px;
  --bg-color-white: #fff;
}

body {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  z-index: 1;
}

.bg {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: lightcoral;
  z-index: -1;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

* {
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1200px;
  margin: 50px auto;
  padding: 10px;
}

.title {
  margin: 30px;
  font-size: 2rem;
  text-align: center;
  color: lightcoral;
}

.list {
  gap: 40px;
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  justify-content: space-around;
  position: relative;
}

.list-item {
  padding: 2rem 2rem 2rem 2rem;
  border-radius: 1rem;
  box-shadow: 4px 5px 5px 2px rgba(0, 0, 0, 0.3);
  flex: 0 1 15%;
  transition: all 0.3s ease;
  background-color: var(--bg-color-white);
}

.list-item:hover {
  transform: translate(3px, 3px);
  box-shadow: 4px 5px 5px 2px rgba(0, 0, 0, 0.2);
}

.list-item_image {
  width: 130px;
  height: 130px;
  padding: 3px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 3px solid lightcoral;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.list-item_name {
  padding: 1rem 0;
  font-size: 1.2rem;
  font-weight: 600;
}

.soﾑ（als {
  display: flex;
  justify-content: space-evenly;
}

.soﾑ（al {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  background-color: lightcoral;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.soﾑ（al:hover {
  transform: scale(1.1);
}

.soﾑ（al i {
  color: var(--bg-color-white);
}

.cart-list {
  max-width: 50ch;
  margin: 20px auto;
  border: 2px solid lightblue;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.cart-list > li {
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid lightgreen;
  background-color: var(--bg-color-white);
}

.second-title {
  font-size: 2rem;
  text-align: center;
  grid-column: 1 / 3;
  color: lightcoral;
  text-transform: uppercase;
  background-color: var(--bg-color-white);
}
